<section class="section">
    <div class="columns">
        <div class="column is-4-tablet is-3-desktop is-2-widescreen">
            <nav class="menu">
                <p class="menu-label">Menu</p>
                <ul class="menu-list">
                    <li>
                        <a href="index">
                            <span class="icon">
                                <i class="fa fa-tachometer"></i>
                            </span>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="inventory">
                            <span class="icon">
                                <i class="fa fa-book"></i>
                            </span>
                            Inventory
                        </a>
                    </li>
                    <li>
                        <a class='is-active' href="customers">
                            <span class="icon">
                                <i class="fa fa-address-book"></i>
                            </span>
                            Customers
                        </a>
                    </li>
                    <li>
                        <a href="techs">
                            <span class="icon">
                                <i class="fas fa-hard-hat"></i>
                            </span>
                            Technicians
                        </a>
                    </li>
                    <li>
                        <a href="orders">
                            <span class="icon">
                                <i class="fas fa-clipboard-list"></i>
                            </span>
                            Orders
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="column">
            <h1 class="title">Customers</h1>


            <nav class="level">
                <div class="level-left">

                    <p class="level-item">
                        <a class="button is-success is-focus" href="new-customer">
                            <span class='icon is-small'>
                                <i class="fas fa-user-edit"> </i>
                            </span>
                             <span>Create New Customer</span>
                        </a>
                    </p>

                    {{!-- Disabled for future deployment --}}
                    {{!-- <div class="level-item is-hidden-tablet-only">
                        <div class="field has-addons">
                            <p class="control">
                                <input type="text" class="input" placeholder="Name, email...">
                            </p>
                            <p class="control">
                                <button class="button">Search</button>
                            </p>
                        </div>
                    </div> --}}
                </div>

                {{!-- Disabled for future deployment --}}
                {{!-- <div class="level-right">
                    <p class="level-item"><strong>All</strong></p>
                    <p class="level-item"><a>With orders</a></p>
                    <p class="level-item"><a>Without orders</a></p>
                </div> --}}
            </nav>

            <table class="table is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        {{!-- Disabled for future deployment --}}
                        {{!-- <th class="is-narrow">
                            <input type="checkbox">
                        </th> --}}
                        <th>Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Phone Number</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        {{!-- Disabled for future deployment --}}
                        {{!-- <th class="is-narrow">
                                <input type="checkbox">
                            </th> --}}
                        <th>Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Phone Number</th>
                    </tr>
                </tfoot>
                <tbody>
                    {{#each customers}}
                    <tr>
                        {{!-- Disabled for future deployment --}}
                        {{!-- <td>
                                <input type="checkbox">
                            </td> --}}
                        <td>
                            <strong>
                                <p>{{first_name}} {{last_name}}</p>
                            </strong></a>
                        </td>
                        <td><code>{{email}}</code></td>
                        <td>{{address}}</td>
                        <td>{{city}}</td>
                        <td>{{state}}</td>
                        <td>
                            <div class="buttons">
                                {{phone}}
                                {{!-- <a href="edit-customer.html" class="button is-small">Edit</a>
                                <a class="button is-small">Delete</a> --}}
                            </div>
                        </td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>

            {{!-- Disabled for future deployment --}}
            {{!-- <nav class="pagination">
                    <a class="pagination-previous">Previous</a>
                    <a class="pagination-next">Next</a>
                    <ul class="pagination-list">
                        <li><a class="pagination-link is-current">1</a></li>
                        <li><span class="pagination-ellipsis">&hellip;</span></li>
                        <li><a class="pagination-link">45</a></li>
                        <li><a class="pagination-link">46</a></li>
                        <li><a class="pagination-link">47 </a></li>
                        <li><span class="pagination-ellipsis">&hellip;</span></li>
                        <li><a class="pagination-link">86</a></li>
                    </ul>
                </nav> --}}
        </div>
    </div>
</section>