{{!-- Menu links to access handlebar routes --}}
<section class="section">
    <div class="columns">
        <div class="column is-4-tablet is-3-desktop is-2-widescreen">
            <nav class="menu">
                <p class="menu-label">Menu</p>
                <ul class="menu-list">
                    {{!-- Dashboard menu link --}}
                    <li>
                        <a class='is-active' href="index">
                            <span class="icon">
                                <i class="fa fa-tachometer"></i>
                            </span>
                            Dashboard
                        </a>
                    </li>
                    {{!-- Inventory menu link --}}
                    <li>
                        <a href="inventory">
                            <span class="icon">
                                <i class="fa fa-book"></i>
                            </span>
                            Inventory
                        </a>
                    </li>
                    {{!-- Customers menu link --}}
                    <li>
                        <a href="customers">
                            <span class="icon">
                                <i class="fa fa-address-book"></i>
                            </span>
                            Customers
                        </a>
                    </li>
                    {{!-- Technicians menu link --}}
                    <li>
                        <a href="techs">
                            <span class="icon">
                                <i class="fas fa-hard-hat"></i>
                            </span>
                            Technicians
                        </a>
                    </li>
                    {{!-- Orders menu link --}}
                    <li>
                        <a href="orders">
                            <span class="icon">
                                <i class="fas fa-clipboard-list"></i>
                            </span>
                            Orders
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        {{!-- Date & Dashboards timeframe selection (Timeframe disabled for future deployment) --}}
        <div class="column">
            <div class="level">
                <div class="level-left">
                    <h1 class="subtitle is-3">
                        <!-- Insert JS Time/Date -->
                        <strong><span id="spanDate"></span></strong>
                        <script type="text/javascript">

                            var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July',
                                'August', 'September', 'October', 'November', 'December'];

                            var tomorrow = new Date();

                            tomorrow.setTime(tomorrow.getTime());

                            document.getElementById("spanDate").innerHTML = months[tomorrow.getMonth()] + " " + tomorrow.getDate() + ", " + tomorrow.getFullYear();
                        </script>



                        <!-- Placeholder name -->
                        {{!-- <span class="has-text-grey-light">Hello </span> <strong>Alex Johnson</strong></h1> --}}
                </div>

                {{!-- Disabled for future deployment --}}
                {{!-- <div class="level-right">
                    <div class="select">
                        <select>
                            <option>Today</option>
                            <option>Yesterday</option>
                            <option>This Week</option>
                            <option selected>This Month</option>
                            <option>This Year</option>
                            <option>All Time</option>
                        </select>
                    </div>
                </div> --}}
            </div>

            {{!-- Dashboard tiles --}}
            <div class="columns is-multiline">
                {{!-- Total Orders tile --}}
                <div class="column is-12-tablet is-6-desktop is-3-widescreen">
                    <div class="notification is-link has-text">
                        <p class="title is-1">{{countWO}}</p>
                        <p class="subtitle is-4">Total Workorders</p>
                    </div>
                </div>

                {{!-- Open Orders tile --}}
                <div class="column is-12-tablet is-6-desktop is-3-widescreen">
                    <div class="notification is-info has-text">
                        <p class="title is-1">{{countWoP}}</p>
                        <p class="subtitle is-4">Pending Workorders</p>
                    </div>
                </div>

                {{!-- In Progress tile  --}}
                <div class="column is-12-tablet is-6-desktop is-3-widescreen">
                    <div class="notification is-primary has-text">
                        <p class="title is-1">{{countWoA}}</p>
                        <p class="subtitle is-4">Assigned Workorders</p>
                    </div>
                </div>

                {{!-- Closed Orders tile  --}}
                <div class="column is-12-tablet is-6-desktop is-3-widescreen">
                    <div class="notification is-success has-text">
                        <p class="title is-1">{{countWoC}}</p>
                        <p class="subtitle is-4">Completed Workorders</p>
                    </div>
                </div>

                {{!-- Type of Orders tile --}}
                <div class="column is-12-tablet is-6-desktop is-4-fullhd">
                    <div class="card">
                        <div class="card-content">
                            <h2 class="title is-4">Calls</h2>

                            <div class="level">
                                <div class="level-left">
                                    <div>
                                        <p class="title is-5 is-marginless">
                                            New Installs
                                        </p>
                                        <small>

                                        </small>
                                    </div>
                                </div>

                                <div class="level-right">
                                    <div class="has-text-right">
                                        <p class="tag is-success is-5 is-marginless is-large has-text-weight-bold">
                                            {{countWoN}}
                                        </p>

                                    </div>
                                </div>
                            </div>


                            <div class="level">
                                <div class="level-left">
                                    <div>
                                        <p class="title is-5 is-marginless">
                                            Service Calls
                                        </p>
                                        <small>

                                        </small>
                                    </div>
                                </div>
                                <div class="level-right">
                                    <div class="has-text-right">
                                        <p class="tag is-warning is-5 is-marginless is-large has-text-weight-bold">
                                            {{countWoS}}
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="level">
                                <div class="level-left">
                                    <div>
                                        <p class="title is-5 is-marginless ">
                                            Trouble Calls
                                        </p>
                                        <small>

                                        </small>
                                    </div>
                                </div>
                                <div class="level-right">
                                    <div class="has-text-right">
                                        <p class="tag is-danger is-5 is-marginless is-large has-text-weight-bold">
                                            {{countWoT}}</p>
                                    </div>
                                </div>
                            </div>

                            <a class="button is-link is-outlined" href="orders">View all orders</a>

                        </div>
                    </div>
                </div>

                <div class="column is-12-tablet is-6-desktop is-4-fullhd">
                    <div class="card">
                        <div class="card-content">
                            <h2 class=" title is-4">Inventory</h2>

                            <div class="media">
                                <div media-left is-marginless>
                                    <p class="number">1</p>
                                </div>
                                <div class="media-left">
                                    <img src='/assets/images/directv-logo.png' alt="Direct TV Logo" width="80">
                                </div>
                                <div class="media-content">
                                    <p class="title is-5 is-spaced is-marginless">
                                        DirecTv
                                    </p>
                                </div>
                                <div class="media-right">
                                    202 sold
                                </div>
                            </div>

                            <div class="media">
                                <div class="media-left is-marginless">
                                    <p class="number">2</p>
                                </div>
                                <div class="media-left">
                                    <img src='/assets/images/KFB-Logo.png' alt="Amazon Key for Business" width="80">
                                </div>
                                <div class="media-content">
                                    <p class="title is-5 is-spaced is-marginless">
                                        KfB
                                    </p>
                                </div>
                                <div class="media-right">
                                    24 sold
                                </div>
                            </div>

                            <div class="media">
                                <div class="media-left is-marginless">
                                    <p class="number">3</p>
                                </div>
                                <div class="media-left">
                                    <img src='/assets/images/orby-logo.png' alt="Orby TV Logo" width="80">
                                </div>
                                <div class="media-content">
                                    <p class="title is-5 is-spaced is-marginless">
                                        Orby TV
                                    </p>
                                </div>
                                <div class="media-right">
                                    4 sold
                                </div>
                            </div>


                            <a class="button is-link is-outlined" href="inventory">View all inventory</a>
                        </div>
                    </div>
                </div>

                <div class="column is-12-tablet is-6-desktop is-4-fullhd">
                    <div class="card">
                        <div class="card-content">
                            <h2 class="title is-4">Technicians</h2>

                            {{#each techs}}
                            <div class="media">
                                <div class="media-left is-marginless">
                                    <p class="number">{{id}}</p>
                                </div>
                                <div class="media-content">
                                    <p class="title is-5 is-spaced is-marginless">
                                        {{first_name}} {{last_name}}
                                    </p>
                                    <p class="subtitle is-6">{{phone}}</p>
                                </div>

                                {{!-- Disabled for future deployment --}}
                                {{!-- <div class="media-right">
                                    10 orders
                                </div> --}}
                            </div>
                            {{/each}}



                            <a class="button is-link is-outlined" href="techs">View all technicians</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

</section>