<section class="section">
  <div class="columns">
    <div class="column is-4-tablet is-3-desktop is-2-widescreen">
      <nav class="menu">
        <p class="menu-label">Menu</p>
        <ul class="menu-list">
          <li>
            <a href="index">
              <span class="icon">
                <i class="fa fa-tachometer"></i>
              </span>
              Dashboard
            </a>
          </li>
          <li>
            <a href="inventory">
              <span class="icon">
                <i class="fa fa-book"></i>
              </span>
              Inventory
            </a>
          </li>
          <li>
            <a href="customers">
              <span class="icon">
                <i class="fa fa-address-book"></i>
              </span>
              Customers
            </a>
          </li>
          <li>
            <a href="techs">
              <span class="icon">
                <i class="fas fa-hard-hat"></i>
              </span>
              Technicians
            </a>
          </li>
          <li>
            <a href="orders">
              <span class="icon">
                <i class="fas fa-clipboard-list"></i>
              </span>
              Orders
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="column">
      <h1 class="title">Orders</h1>

      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <p class="subtitle is-5"><strong>{{countWO}}</strong> orders</p>
          </div>
          <div class="leve-item is-hidden-tablet-only">
            {{!-- Disabled for future deployment --}}
            {{!-- <div class="field has-addons">
              <p>
                <input type="text" class="input" placeholder="Order#, customer...">
              </p>
              <p class="control">
                <button class="button">Search</button>
              </p>
            </div> --}}
          </div>
        </div>

        {{!-- Disabled for future deployment --}}
        {{!-- <div class="level-right">
                        <p class="level-item"><strong>All</strong></p>
                        <p class="level-item"><a>In progress</a></p>
                        <p class="level-item"><a>Successful</a></p>
                        <p class="level-item"><a>Failed</a></p>
              </div> --}}
      </nav>



      <table class="table is-hoverable is-fullwidth">
        <thead>

          <tr>
            <th>Order #</th>
            <th>Technician</th>
            <th>Customer Name</th>
            <th>Appoinment Date</th>
            <th>Products</th>
            <th>Reason</th>
            <th>Status</th>
          </tr>

        </thead>
        <tfoot>
          <tr>
            <th>Order #</th>
            <th>Technician</th>
            <th>Customer Name</th>
            <th>Appointment Date</th>
            <th>Products</th>
            <th>Reason</th>
            <th class="">Status</th>
          </tr>
        </tfoot>
        <tbody>
          {{#each workorders}}
          <tr>
            <td><a href=""><strong> {{id}}</strong></a></td>
            <td>{{Tech.first_name}} {{Tech.last_name}}</td>
            <td>{{Customer.first_name}} {{Customer.last_name}}</td>
            <td>{{appt_date}}</td>
            <td>{{products}}</td>
            <td><span class="">{{reason}}</span></td>
            <td><span class="tag is-info">{{status}}</span></td>
          </tr>
          {{/each}}
        </tbody>
      </table>

      {{!-- Disabled for future deployment --}}
      {{!-- <nav class="pagination">
                    <a class="pagination-previous">Previous</a>
                    <a class="pagination-next">Next</a>
                    <ul class="pagination-list">
                        <li><a class="pagination-link is-current">1</a></li>
                        <li><span class="pagination-ellipsis">&hellip;</span></li>
                        <li><a class="pagination-link">45</a></li>
                        <li><a class="pagination-link ">46</a></li>
                        <li><a class="pagination-link">47 </a></li>
                        <li><span class="pagination-ellipsis">&hellip;</span></li>
                        <li><a class="pagination-link">86</a></li>
                    </ul>
                </nav> --}}

    </div>
  </div>
</section>